# 2-5. 데이터 정렬
(1) index 기준 정렬: **DataFrame.sort_index(axis=0, ascending=True, inplace=False)**
> - axis: 0이면 행 인덱스 기준, 1이면 컬럼명을 기준으로 정렬
> - ascending: True이면 오름차순, False이면 내림차순 기준으로 정렬
> - inplace: True이면 제자리에서 수행 후 None을 반환, False이면 복사본을 만들어 정렬을 수행하고 이를 반환

(2) 값 기준 정렬 : **DataFrame.sort_values(by, axis=0, ascending=True, inplace=False)**
> - by: 필수 입력, 정렬 기준으로 사용할 컬럼의 이름 혹은 컬럼명의 리스트, 앞에 있는 컬럼부터 순서대로 정렬 기준으로 사용
> - **axis=1 열 기준으로 정렬**하려면, by에 행 이름(인덱스)를 넣어야 함

In [21]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)

In [26]:
iris.sort_index(ascending=False, inplace=True) # 행 인덱스 기준, 내림차순

In [27]:
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
149                5.9               3.0                5.1               1.8
148                6.2               3.4                5.4               2.3
147                6.5               3.0                5.2               2.0
146                6.3               2.5                5.0               1.9
145                6.7               3.0                5.2               2.3

In [29]:
iris.sort_index(axis=1, ascending=True, inplace=True) # 열 인덱스 기준, 오름차순
iris.head()

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
149                5.1               1.8                5.9               3.0
148                5.4               2.3                6.2               3.4
147                5.2               2.0                6.5               3.0
146                5.0               1.9                6.3               2.5
145                5.2               2.3                6.7               3.0

In [34]:
iris.sort_values('petal length (cm)').head()

    petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
22                1.0               0.2                4.6               3.6
13                1.1               0.1                4.3               3.0
14                1.2               0.2                5.8               4.0
35                1.2               0.2                5.0               3.2
41                1.3               0.3                4.5               2.3

In [36]:
iris.sort_values(['petal width (cm)', 'sepal length (cm)']).head()

    petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
13                1.1               0.1                4.3               3.0
12                1.4               0.1                4.8               3.0
37                1.4               0.1                4.9               3.6
9                 1.5               0.1                4.9               3.1
32                1.5               0.1                5.2               4.1